int_mainstreet/cartridge/webreferences/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="Order" targetNamespace="http://tempuri.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import
				schemaLocation="http://demandware.mainstreetcustomers.com/services/orderhistory/v1/Order.svc?xsd=xsd0"
				namespace="http://tempuri.org/" />
			<xsd:import
				schemaLocation="http://demandware.mainstreetcustomers.com/services/orderhistory/v1/Order.svc?xsd=xsd1"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import
				schemaLocation="http://demandware.mainstreetcustomers.com/services/orderhistory/v1/Order.svc?xsd=xsd2"
				namespace="http://schemas.datacontract.org/2004/07/OrderHistoryService" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IOrder_GetOrderDetail_InputMessage">
		<wsdl:part name="parameters" element="tns:GetOrderDetail" />
	</wsdl:message>
	<wsdl:message name="IOrder_GetOrderDetail_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetOrderDetailResponse" />
	</wsdl:message>
	<wsdl:message name="IOrder_GetOrdersByCustomer_InputMessage">
		<wsdl:part name="parameters" element="tns:GetOrdersByCustomer" />
	</wsdl:message>
	<wsdl:message name="IOrder_GetOrdersByCustomer_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetOrdersByCustomerResponse" />
	</wsdl:message>
	<wsdl:portType name="IOrder">
		<wsdl:operation name="GetOrderDetail">
			<wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetOrderDetail"
				message="tns:IOrder_GetOrderDetail_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetOrderDetailResponse"
				message="tns:IOrder_GetOrderDetail_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetOrdersByCustomer">
			<wsdl:input wsaw:Action="http://tempuri.org/IOrder/GetOrdersByCustomer"
				message="tns:IOrder_GetOrdersByCustomer_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IOrder/GetOrdersByCustomerResponse"
				message="tns:IOrder_GetOrdersByCustomer_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IOrder" type="tns:IOrder">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetOrderDetail">
			<soap:operation soapAction="http://tempuri.org/IOrder/GetOrderDetail"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrdersByCustomer">
			<soap:operation soapAction="http://tempuri.org/IOrder/GetOrdersByCustomer"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Order">
		<wsdl:port name="BasicHttpBinding_IOrder" binding="tns:BasicHttpBinding_IOrder">
			<soap:address
				location="http://demandware.mainstreetcustomers.com/services/orderhistory/v1/Order.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>